<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />

</head>
<body>
    <header>
        <center>
         @*    <a href="/Home/Index" class="btn btn-primary">Home</a>
            <a href="/Home/AboutUs" class="btn btn-danger">About Us</a>
            <a href="/Home/ContactUs" class="btn btn-dark">Contact us</a>
            <a href="/Home/Privacy" class="btn btn-secondary">Privacy</a>
 *@
            <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Home</a>
            <a asp-controller="Home" asp-action="AboutUs" class="btn btn-primary">AboutUs</a>
            <a asp-controller="Home" asp-action="ContactUs" class="btn btn-primary">ContactUs</a>
            <a asp-controller="Home" asp-action="Privacy" class="btn btn-primary">Privacy</a>

        </center>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer class="fixed-bottom ">
        CopyRights  &copy; routeacademy @DateTime.Now.Year
    </footer>
</body>
</html>
